{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <p>{{ post.body }}</p>
    <section>
        <h2>{% translate "Comments" %}</h2>
        <form action="{% url 'blog:create_comment' post.id %}" method="post">
            {% csrf_token %}
            {{ form }}
            <button>{% translate "Submit" %}</button>
            <button formaction="{% url 'blog:create_draft_comment' post.id %}">
                {% translate "Save draft" %}
            </button>
        </form>
        {% if comments %}
            <ul>
                {% for comment in comments %}
                    <li>
                        <article>
                            <p>{{ comment.body }}</p>
                            <p>{{ comment.author }}</p>
                        </article>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>{% translate "No comments yet." %}</p>
        {% endif %}
    </section>
{% endblock %}
