<h1>{{ post.title }}</h1>
<p>{{ post.body }}</p>
<section>
    <h2>Comments</h2>
    <form action="{% url 'blog:comment' post.id %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button>Submit</button>
    </form>
    {% if comments %}
        <ul>
            {% for comment in comments %}
                <li>
                    <article>
                        <p>{{ comment.body }}</p>
                        <p>{{ comment.author }}</p>
                    </article>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No comments yet.</p>
    {% endif %}
</section>
