{% load i18n %}

<header>
    <a href="{% url 'blog:draft_comments' %}">
        {% blocktranslate with count=draft_comments|length %}
        Draft comments: {{ count }}
        {% endblocktranslate %}
    </a>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if user.is_authenticated %}
        <a href="{% url 'accounts:logout' %}">{% translate 'Logout' %}</a>
    {% endif %}
</header>
